
form {
    background-color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 200px;
}
form > div{
    
    position: relative;
    top: 40%;
}
input{
    border-radius: 6px;
    margin-bottom: 5px;
    height: 20px;
    width: 200px;
}
button{
    background-color: beige;
    border-radius: 5px;
}